@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  font-family: 'Nunito', serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttons {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: white;
  width: 200px;
  height: 100px;
  position: relative;
  margin: 30px;
  top: 100px;
  padding: 16px;
  font-size: 50px;
  border-radius: 10px;
  transition: all 0.2s;
}

.accepted {
  background: #ff77a9;
  box-shadow: 0px 15px 0px 0px darken(#b4004e, 5%), 0px 0px 20px 0px #bbb;
}

.refuse {
  background: #e0e0e0;
  box-shadow: 0px 15px 0px 0px darken(#aeaeae, 5%), 0px 0px 20px 0px #bbb;
}
